body {
    font-family: sans-serif;
    background-color: black;

}

header {
    justify-content: space-between;
    padding:15px;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color:Chartreuse;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: Chartreuse;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: White;
    font-size: 36px;
    margin-top:60px;
    margin-bottom:30px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding:30px;
    width: 400px;
    margin:30px;
    text-align:center;
}

.article-but {
    text-decoration: none;
    background-color:Chartreuse;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: black;
    padding:30px;
    display: flex;
    color:Chartreuse;
    border-top: 5px solid white;

}

footer a {
    margin-right:15px;
}

footer p {
    font-size: 24px;
}

.primer{
    display: flex;
    justify-content: center;
}

.button:hover{
    background-color: aqua;
}

.nav-link:hover{
    color: Aqua;
}

.article-but:hover{
    background-color: aqua;
}

.promo{
    position: fixed;
    background-color: Gold;
    border-radius: 25px;
    top:300px;
    right: 7px;
    width: 115px;
    height: 200px;
    padding: 18px;
    text-align:center;
}
